{% extends 'blog/basic.html' %}
{% block title %}MyBlog {% endblock %}

{% block body %}

<div class="container">
  <div class="row mb-2 mt-2">
    {% for blog in blogposts %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{blog.title}}</strong>
          <h3 class="mb-0">{{blog.head0}}</h3>
          <div class="mb-1 text-muted">{{blog.chead0}}</div>
          <p class="card-text mb-auto">{{blog.head1}}</p>
          <a href="blogpost/{{blog.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="../media/{{ blog.thumbnail }}" class="bd-placeholder-img" width="200" height="250" 
            aria-label="Placeholder: Thumbnail" />

        </div>
      </div>
    </div>

    {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last %}
  </div>
  <div class="row mb-2 mt-2">

    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}